/*  */
* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  font-size: 16px;
}
.container__burger {
  margin: 0;
  /* background-color: red; */
  position: fixed;
  z-index: 15;
  top: 8px;
  left: 8px;
}
.container__burger-icon {
  width: 50px;
  height: 50px;
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla one", sans-serif;
}
h1 {
  line-height: 1.5em;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -0.2px;
  /* text-transform: lowercase; */
  color: #4d0b24;
  margin: 0px;
}
h2 {
  margin: 0px;
  padding: 1.5rem 0px;
  text-transform: uppercase;
  color: #005086;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
.menu {
  height: inherit;
}
.menu ul li:hover {
  background-color: #440e22;
  transition-duration: 0.4s;
}
.head {
  align-items: center;
  background-color: #7d0633;
  display: flex;
  flex-wrap: wrap;
  height: 90px;
  justify-content: space-between;
}
.head-figure {
  margin: 0px 0px 0px 20px;
  width: 120px;
  height: 50px;
}

.head-figure_img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  height: inherit;
}
li {
  height: inherit;
  font-weight: bold;
}

.link {
  /* line-height: 70px; */
  align-items: center;
  color: #f4f9f9;
  display: flex;
  height: inherit;
  justify-content: center;
  margin: 0px 20px;
  padding: 0px 10px;
  text-decoration: none;
}
/* main */
.main {
  /* background-image: url(portada.jpg); */
  /* background-position-x: right; */
  /* background-size: 500px 300px;
  align-items: center;
  background-color: #222625;
  background-repeat: no-repeat; */
  background-color: #ededed;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}
.main figure {
  margin: 0px;
  width: 500px;
  height: inherit;
}
.main img {
  width: inherit;
  height: inherit;
  /* width: 100%; */
}
/* .main h1{
  width: 50%; 
  margin-left: 30px; 
} */
.main span {
  color: #e9eaec;
}

/* projectos */

.projects {
  padding: 0px 1.5rem 10px 1.5rem;
  background-color: #744bc525;
}
.project {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 7px #555;
  /* derecha abajo difuminado color */
  padding: 4%;
  margin: 0px 0px 1.8rem 0px;
  background-color: #f4f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  margin: 0 0 0.7rem 0;
  font-size: 1.3rem;
}
.project-dato,
.project-date,
.project-link,
.project-description {
  margin: 0.7rem 0;
}
.project-dato {
  margin-top: 20px;
}
.project-date {
  margin-top: 20px;
}

.project-link {
  margin-top: 20px;
}
.project-link a {
  text-decoration: none;
  color: black;
}
.project-description {
  margin-top: 20px;
  font-size: 20px;
}
.project-left {
  width: 48%;
}
.project-container {
  width: 48%;
  margin: 0;
}
.project-image {
  width: 100%;
}

/* tecnologys
.tecnologia-title {
  margin-left: 30px;
} */
.tecnology-title {
  margin: 0px;
  padding: 1.5rem 0 1.5rem 0rem;
}
.tecnologys {
  padding: 0px 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tecnology {
  margin: 0px 2% 40px 0px;
  width: 48%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f4fbff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.tecnology-container {
  /* margin: 0px; */
  /* width: 100%;
  height: 200px; */

  margin: 0px;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}
.tecnology-img {
  /* width: inherit;
  height: inherit; */
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.description-container {
  margin: 0px 1.8rem 1.3rem 1.5rem;
  margin-top: -2rem;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  padding: 20px;
  text-align: center;
}
.description-title {
  margin: 0px;
}
.description-tecnology {
  text-align: left;
}
.description-container input {
  border: 1px solid #005086;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #005086;
  background-color: #e8eae6;
}

/* contacto */

.contact {
  align-items: center;
  background-color: #7d0633;
  /* background-color: #31112c; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.7rem 2.5rem 1.7rem 2.5rem;
}
.contact-form {
  /* margin-left: 30px; */
}

.contact-form h2 {
  color: #e8eae6;
  padding: 0px;
}
.contact-form input {
  border-color: gray;
  border-style: solid;
  padding: 5px 5px 5px 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(img/email.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position-y: center;
  background-position-x: 5px;
  outline: none;
  margin-top: 20px;
}
.contact-form button {
  display: block;
  border: 1px solid #282c34;
  background-color: #e8eae6;
  color: #005086;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.social {
  display: flex;
}
.social-link {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.social-link.github {
  background-image: url(../img/github.svg);
  background-size: 50px 50px;
}
.social-link.facebook {
  background-image: url(../img/facebook.svg);
  background-size: 50px 50px;
}
.social-link.instagram {
  background-image: url(../img/instagram.svg);
  background-size: 50px 50px;
}
.social-link.twitter {
  background-image: url(../img/twitter.svg);
  background-size: 50px 50px;
}

/* footer */

.footer {
  /* background: #7d0633; */
  background: #31112c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}
.footer-details {
  display: flex;
  align-items: center;
}
.footer-details img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.footer p {
  color: #f4f9f9;
}

/* wrapper */
.wrapper {
  max-width: 1200px;
  flex: 1;
  /* border: 1px solid red; */
  margin: 0px auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
  flex-wrap: inherit;
}
/* Media queries */
@media screen and (max-width: 1024px) {
  .tecnology-title {
    padding: 1.3em 0 1.3rem 1.5rem;
    margin: 0px;
  }
  .main {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 3rem 1.5rem;
  }
  h1 {
    z-index: 3;
  }
  .main figure {
    width: auto;
  }
  .main figure img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* header */
  .container__burger-icon {
    display: block;
  }

  .menu {
    position: fixed;
    z-index: 13;
    background-color: rgba(0, 0, 0, 0.493);
    top: 0;
    left: -100vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 5px black;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
  }
  .head {
    height: auto;
    display: block;
  }
  ul {
    display: block;
    width: 100%;
    height: auto;
  }
  .menu.menu_active {
    left: 0;
  }
  .link {
    justify-content: center;
    margin: 0px 0px;
    padding: 10px 0px;
    font-size: 1.5rem;
  }
  .link:hover {
    background-color: #424774;
  }
  .head-figure {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
  }
  /* project */
  .project {
    display: block;
    /* font-size: 16px; */
    box-shadow: 0px 0px 8px black;
    padding: 2%;
  }
  .project-left {
    width: auto;
  }
  .project-container {
    width: 100%;
  }
  .project-title {
    font-size: 1.2em;
  }
  .project-description {
    font-size: 1.1em;
  }
  .project-dato,
  .project-date,
  .project-link,
  .project-description {
    margin: 0.6rem 0;
  }
  .projects h2 {
    font-size: 1.3rem 0;
    padding: 1.5rem 0;
  }
  /* tecnologys */
  .tecnology-title {
    /* margin: 0px; */
    padding: 1.3em 0 1.3rem 1.5rem;
    font-size: 1.5rem;
  }
  .tecnologys {
    display: block;
  }
  .tecnology {
    width: 100%;
    margin: 0px 2% 3rem 0px;
  }
}

@media screen and (max-width: 572px) {
  h1 {
    font-size: 2rem;
  }
  .contact {
    justify-content: center;
    padding: 1.7rem 2.5rem 0.5rem 2.5rem;
  }
  .contact-form {
    text-align: center;
    /* margin: 0px; */
  }
  .contact-form button {
    margin: 1rem auto 1.3rem auto;
  }
  .social {
    flex-wrap: wrap;
    justify-content: center;
  }
  .social-link {
    margin-bottom: 1rem;
  }
  .footer {
    display: block;
    text-align: center;
  }
  .footer-details {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.6rem;

    /* margin: auto; */
  }
  .main {
    padding: 2rem 1.2rem;
  }
  .projects {
    font-size: 0.8em;
    padding: 0 1.2rem 6px 1.2rem;
  }
  .project {
    /* font-size: 14px; */
    box-shadow: 0px 0px 6px black;
    padding: 3%;
  }
  .projects h2 {
    padding: 1.1rem 0;
    font-size: 1.4rem;
  }
  .project-title {
    font-size: 1.2rem;
  }
  .project-dato,
  .project-date,
  .project-link,
  .project-description {
    margin: 0.6rem 0;
    font-size: 1rem;
  }
  .link {
    padding: 0.5em 0;
  }
  .tecnology-title {
    padding: 1.1em 0 1.1rem 1.2rem;
    font-size: 1.4rem;
  }
  .tecnologys {
    padding: 0px 1.2rem;
  }
  .tecnology {
    margin: 0px 2% 2.5rem 0px;
  }
  .description-container {
    padding: 1rem;
    margin: 0px 1.5rem 1.3rem 1.5rem;
    margin-top: -1.5rem;
  }
  .contact,
  .footer {
    padding: 1rem 1.3rem 0.5rem 1.3rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.521);
  }
  .project {
    box-shadow: 0px 0px 4px black;
    margin-bottom: o.9rem;
    padding: 4%;
  }
  .link {
    padding: 0.4em 0;
  }
  .projects {
    pad: 0px 0.9rem 6px 0.9rem;
  }
  .projects h2 {
    padding: 1.1rem 0;
    font-size: 1.3rem;
  }
  .project-title {
    font-size: 1.1rem;
  }
  .project-dato,
  .project-date,
  .project-link,
  .project-description {
    margin: 0.6rem 0;
    font-size: 0.9rem;
  }
  .tecnology-title {
    padding: 1.1em 0 1.1rem 0.9rem;
    font-size: 1.3rem;
  }
  .tecnologys {
    padding: 0px 0.9rem;
  }
  .tecnology {
    margin: 0px 2% 2rem 0px;
  }
  .description-container {
    padding: 0.8rem;
    margin: 0px 1rem 1.3rem 1rem;
    margin-top: -1.5rem;
  }
  .description-title {
    font-size: 1.1rem;
  }
  .description-tecnology {
    font-size: 0.9rem;
  }
  .contact,
  .footer {
    padding: 1rem 1rem 0.5rem 1rem;
    /* font-size: 1em; */
  }
  .social-link.github {
    margin-left: 0px;
  }
}
